<section id="skills" class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white py-12 px-6 rounded-lg shadow-lg text-center" @fadeIn>
    <h2 class="text-4xl font-semibold mb-6 text-gray-800">Habilidades</h2>
  
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        Azure
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        AWS
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        Terraform
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        Kubernetes
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        Docker
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        GraphQL
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        Angular
      </span>
      <span class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow transition-all transform hover:scale-110 hover:bg-blue-700 cursor-pointer">
        Tailwind CSS
      </span>
    </div>
  </section>
  